
# Virtual environment
.venv/

# IntelliJ/PyCharm
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/

# Python
__pycache__/
*.py[cod]
*.so

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Packaging
dist/
build/
.eggs/

# mypy
.mypy_cache/

# env files
.env
.env.*

